*{
    padding :0;
    margin: 0;
    box-sizing: border-box;
}

    .container{
        width: 100%;
        height: 100vh;
        /* border: 3px solid red; */
        
    }
    .blogsection{
        width: 80%;
        margin: 0px auto;
        /* border: 2px solid yellow; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .heading{
        text-align: center;
        padding: 10px;
        margin: 10px auto;
        /* border: 3px solid green; */

    }
    .heading h1{
        font-size: 35px;
        color: blueviolet;
    }
    .heading h4{
        color: brown;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:10px;
        /* border: 5px solid crimson; */
    }
    .card{
        height: 400px;
        width: 300px;
        margin:15px 10px;
        border: 1px solid brown;
    }
    .card img{
        height:160px;
        width: inherit;
    }
    .card .tagline{
        font-size: 25px;
        color: black;
        font-weight: 600;
        margin: 5px 10px;
    }
    .card .title{
        font-size: 22px;
        font-weight: 800;
        color: coral;
        margin: 5px 10px;
    }
    .card .content{
        font-size:15px;
        margin:5px 10px ;
        color: rgb(18, 2, 22) ;
        line-height: 1.3;
    }
    .card a{
        text-decoration:none ;
        padding: 5px 10px;
        margin: 15px 10px;
        background-color: rgb(124, 5, 251);
        color: rgb(240, 239, 236);
        font-size: 18px;
        border-radius: 10px;
    }
    .card a:hover{
        background-color: black;
    }
    @media(max-width:980px) {
        .cards{
            grid-template-columns: repeat(2,1fr);
        }
        
    } 

   @media(max-width:540px){
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
   }